/* Custom Colors */
:root {
    --color-primary: #c33149;    /* Rich Red */
    --color-secondary: #a22522;  /* Dark Red */
    --color-white: #ffffff;      /* White */
    --color-yellow: #ffae03;     /* Vibrant Yellow */
    --color-dark: #0b0713;       /* Deep Dark Purple */
  }
  

  