/*@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors Extension NOT NESSESSAR~Y, CAN Delete*/ 
  /* @layer base {
  :root {
    --color-primary: #c33149;    
    --color-secondary: #a22522;  
    --color-white: #ffffff;     
    --color-yellow: #ffae03;    
    --color-dark: #0b0713;       
  }
} */

/*@layer components {

  .bg-primary {
    background-color: var(--color-primary);
  }

  .text-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  .text-yellow {
    color: var(--color-yellow);
  }

  .bg-yellow {
    background-color: var(--color-yellow);
  }

  .bg-dark {
    background-color: var(--color-dark);
  }

  .text-dark {
    color: var(--color-dark);
  }
}

@layer utilities {
 
}

/* Custom Colors */
:root {
    --color-primary: #c33149;    /* Rich Red */
    --color-secondary: #a22522;  /* Dark Red */
    --color-white: #ffffff;      /* White */
    --color-yellow: #ffae03;     /* Vibrant Yellow */
    --color-dark: #0b0713;       /* Deep Dark Purple */
  }
  

  